body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
*{
    font-family: sans-serif;
    box-sizing: border-box;

}

form{
    width: 500px;
    border:2px solid #ccc;
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
}

input{
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label{
    color: #888;
    font-size: 18px;

}
h2{
    text-align: center;
    margin: 40px;
}
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}